<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/estilo_tres.css">
    <title>Ejercicio tres</title>
</head>
<body>
    <header class="cabecera">
        <h2 class="titulo">WEB SITE 2.0</h2>
    </header>
    <div class="separador">

    </div>
    <div class="contenedor">
        <div class="elementoUno">
            <ul class="lista">
                <li class="elementos">item 01</li>
                <li class="elementos">item 02</li>
                <li class="elementos">item 03</li>
                <li class="elementos">item 04</li>
            </ul>
        </div>
        <div class="elementoDos">
            <h2 class="titDos">
                Historia de nuestra empresa
            </h2>
        </div>
        <div class="elementoTres">

        </div>
    </div>
    <div class="separadorFin"></div>

</body>
</html>