<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/estilo_dos.css">
    <title>Ejercicio dos</title>
</head>
<body>
    <header class="cabecera">

    </header>
    <div class="separador">

    </div>
    <div class="contenedor">
        <div class="elementoUno">

        </div>
        <div class="elementoDos">

        </div>
    </div>
    <div class="separadorFin"></div>

</body>
</html>