<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/estilo_uno.css">
    <title>Ejercicio uno</title>
</head>
<body>
    <header class="cabecera">

    </header>
    <div class="separador">

    </div>
    <div class="contenedor">
        <ul class="lista">
            <li class="elementos">item 01</li>
            <li class="elementos">item 02</li>
            <li class="elementos">item 03</li>
        </ul>
    </div>

</body>
</html>